/vendor/
node_modules/
npm-debug.log
yarn-error.log
.idea/

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific
html/storage
html/hot

# Laravel 5 & Lumen specific with changed html path
public_html/storage
public_html/hot

storage/*.key
Homestead.yaml
Homestead.json
/.vagrant
.phpunit.result.cache
